:root {
    --Very-dark-blue: hsl(233, 47%, 7%);
    --Dark-desaturated-blue: hsl(244, 38%, 16%);
    --Soft-violet: hsl(277, 64%, 61%);
    --White: hsl(0, 0%, 100%);
    --Slightly-transparent-white: hsla(0, 0%, 100%, 0.75);
    --Slightly-transparent-white: hsla(0, 0%, 100%, 0.6);
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 1440px;
    max-height: 100vh;
    background-color: var(--Very-dark-blue);
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    color: white;
}
.container {
    width: 70%;
    display: flex;
    justify-content: space-between;
    background-color: var(--Dark-desaturated-blue);
    border-radius: 20px;
    margin: 50% 0;
    overflow: hidden;
}
.image {
    position: relative;
    height: 150%;
}
.image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(110, 19, 167, 0.647);
    opacity: 0.7;
}
.content {
    width: 45%;
    padding: 47px 0 47px 61px;
}
.text h1 {
    color: var(--White);
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
}
.text h1 span{
color: var(--Soft-violet);
}
.text p {
    color: var(--Slightly-transparent-white);
    line-height: 1.7;
    font-size: 17px;
    margin-bottom: 4.5rem;
}

.parts {
    display: flex;
    gap:4rem ;
}
.box .large {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}
.box .small {
    color: var(--Slightly-transparent-white);
    text-transform: uppercase;
    font-size: 0.8rem;
}
